body {
  background-color: #fafffdaf;
}
#pageTitle {
  border: lightpink;

  margin-bottom: 15px;
  padding: 20px;
  background-color: #0ecaf0;
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-family: monospace;
}

#taskInput {
  text-align: center;
}

td {
  font-weight: lighter;
  font-family: monospace;
}

.deleteButton {
  color: black;
}

.completedTask {
  background-color: darkseagreen;
}

.doneButton {
    color: black;
}

button {
  font-family: "Times New Roman", Times, serif;
}

.testing {
  text-align: center;
  background-color: lightpink;
}

#testBox {
  display: flex;
  justify-items: flex-start;
  margin: 20px;
}
